# KiCAD ignore list:
*.kicad_pcb-bak
*.bak

# project specific ignores:
# for pcb-pool production files
/pcb-pool*
# for datasheets or other documents that are not allowed to be synced..
/no_git_sync*
# for old outdated things
/old*
